  <div fxLayoutAlign="center center">
      <img src="resources/img/index_1.jpg" width="100%">
      <div class="img-mdl">
          <h1>Pagina de socializare</h1>
          <p>Aici poti interactiona cu cine vrei tu</p>
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">Primary</button>
      </div>
  </div>
  <div style="text-align: center">
      <h1>Si asa cum spuneam acici vine un bla bla</h1>
      <h1>care se contimnua aisdfsa</h1>
  </div>
  <div style="text-align: center">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <img src="resources/img/index_1.jpg" alt="Generic placeholder image" width="95%">
                <h2>Heading</h2>
            </div>
              <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <img src="resources/img/index_1.jpg" alt="Generic placeholder image" width="95%">
                <h2>Heading</h2>
            </div>
              <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <img src="resources/img/index_1.jpg" alt="Generic placeholder image" width="95%">
                <h2>Heading</h2>
            </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
              <img src="resources/img/index_1.jpg" alt="Generic placeholder image" width="95%">
              <h2>Heading</h2>
            </div>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
              <img src="resources/img/index_1.jpg" alt="Generic placeholder image" width="95%">
              <h2>Heading</h2>
            </div>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
              <img src="resources/img/index_1.jpg" alt="Generic placeholder image" width="95%">
              <h2>Heading</h2>
            </div>
      </div>
  </div>
