  <div fxLayoutAlign="center center">
      <img src="../../assets/img/index_1.jpg" width="95%" class="img-fluid">
      <div class="centered">
          <h1>Pagina de socializare</h1>
          <p class="lead font-weight-normal">Aici poti interactiona cu cine vrei tu</p>
      </div>
  </div>
  <div>
      <h1>Si asa cum spuneam acici vine un bla bla</h1>
      <h1>care se contimnua aisdfsa</h1>
  </div>
  <div style="text-align: center ">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <img  src="../../assets/img/index_1.jpg" alt="Generic placeholder image" width="95%">
                <h2>Heading</h2>
            </div>
              <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <img  src="../../assets/img/index_1.jpg" alt="Generic placeholder image" width="95%">
                <h2>Heading</h2>
            </div>
              <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <img  src="../../assets/img/index_1.jpg" alt="Generic placeholder image" width="95%">
                <h2>Heading</h2>
            </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
              <img  src="../../assets/img/index_1.jpg" alt="Generic placeholder image" width="95%">
              <h2>Heading</h2>
            </div>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
              <img  src="../../assets/img/index_1.jpg" alt="Generic placeholder image" width="95%">
              <h2>Heading</h2>
            </div>
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
              <img  src="../../assets/img/index_1.jpg" alt="Generic placeholder image" width="95%">
              <h2>Heading</h2>
            </div>
      </div>
  </div>
