<mat-toolbar color="grey" class="fixed-top border-bottom box-shadow">
    <mat-toolbar-row>
        <h1 class="mr-5">
            <a routerLink="/home">
                <img src="92817_champagne.ico" width="30" height="30" alt="logo">
            </a>
        </h1>
        <div fxShow="true" fxHide.lt-md="true">
            <mat-nav-list fxLayout="row">
                <mat-list-item *ngFor="let item of navItems" class="mr-2">
                    <a mat-button routerLink="/category/{{ item.name }}"> {{ item.name }}</a>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </a>
            <mat-menu #appMenu="matMenu" >
                    <a mat-menu-item mat-button *ngFor="let item of navItems" routerLink="/category/{{ item.name }}">{{ item.name }}</a>
            </mat-menu>
        </div>
        <span class="fill-space"></span>
        <div fxLayoutAlign="end">
            <button mat-button color="primary" fxLayoutAlign="center center" routerLink="/register" class="mr-05">
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </button>
            <button color="primary" mat-raised-button  routerLink="/login" fxLayoutAlign="center center">
                <mat-icon>person_add</mat-icon>
                <span>Register</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>